html,
body {
  padding: 0;
  margin: 0;
  font-family: 'TT Fors Trial';
  min-width: 350px;
  color: #313536;
}
* {
  box-sizing: border-box;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #d7dce1; /* color of the tracking area */
  border-radius: 30px; /* roundness of the scroll thumb */
}

*::-webkit-scrollbar-thumb {
  background-color: #313536;
  border-radius: 30px;
}

button,
input,
a {
  font-family: 'TT Fors Trial';
}

a {
  color: inherit;
  text-decoration: none;
  color: #94a5d0;
  transition: all 0.3s;
}
a:hover {
  /* color: #407cff; */
  text-decoration: underline;
}

p {
  margin: 0;
}

.map-viewer-scroll-container {
  /* min-height: 736px; */
  min-height: 200px;
  max-height: 736px;
  width: auto;
  height: 100%;
}

.map-viewer-scroll-container.small {
  max-height: 488px;
  min-height: 488px;
}
@media (max-width: 1200px) {
  .map-viewer-scroll-container {
    min-height: 500px;
    height: 500px;
    max-height: 500px;
  }
}

@media (max-width: 800px) {
  .map-viewer-scroll-container {
    min-height: 320px;
    height: 320px;
    max-height: 320px;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@keyframes borderLoader {
  50% {
    border-width: 0px;
  }
  50% {
    border-width: 8px;
  }
  100% {
    border-width: 0px;
  }
}
@keyframes topLoader {
  0% {
    left: 0;
    width: 0;
  }
  49% {
    left: 0;
    width: 100%;
    right: 0;
  }
  50% {
    right: 0;
    left: unset;
  }

  100% {
    right: 0;
    width: 0;
  }
}
